@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700")

body
  font-family: 'Open Sans', Arial, sans-serif
  padding: 10px

table
  border: none
  border-spacing: 0
  width: 100%
  tr td
    padding: 0
    &:nth-child(1)
      width: 60%
    &:nth-child(2)
      width: 40%

.options-heading
  margin: 10px 0

.hr
  height: 1px
  background: #bbb
  margin: 10px 0

.save-status
  text-align: center
