colors = {
  'A': #e57373,
  'B': #f06292,
  'C': #ba68c8,
  'D': #9575cd,
  'E': #7986cb,
  'F': #64b5f6,
  'G': #4fc3f7,
  'H': #4dd0e1,
  'I': #4db6ac,
  'J': #81c784,
  'K': #aed581,
  'L': #dce775,
  'M': #fff176,
  'N': #ffd54f,
  'O': #ffb74d,
  'P': #ff8a65,
  'Q': #f44336,
  'R': #e91e63,
  'S': #9c27b0,
  'T': #673ab7,
  'U': #3f51b5,
  'V': #2196f3,
  'W': #03a9f4,
  'X': #00bcd4,
  'Y': #009688,
  'Z': #4caf50,
  
  'a': #8bc34a,
  'b': #cddc39,
  'c': #ffeb3b,
  'd': #ffc107,
  'e': #ff9800,
  'f': #ff5722,
  'g': #d32f2f,
  'h': #c2185b,
  'i': #7b1fa2,
  'j': #512da8,
  'k': #303f9f,
  'l': #1976d2,
  'm': #0288d1,
  'n': #0097a7,
  'o': #00796b,
  'p': #388e3c,
  'q': #689f38,
  'r': #afb42b,
  's': #fbc02d,
  't': #ffa000,
  'u': #f57c00,
  'v': #e64a19,
  'w': #ff1744,
  'x': #f50057,
  'y': #d500f9,
  'z': #651fff,

  '0': #3d5afe,
  '1': #2979ff,
  '2': #00b0ff,
  '3': #00e5ff,
  '4': #1de9b6,
  '5': #00e676,
  '6': #76ff03,
  '7': #c6ff00,
  '8': #ffea00,
  '9': #ffc400,
  '-': #ff9100,
  '_': #ff3d00
}

for id, col in colors
  .BYTG-chat-color-{id} #content #author-name
    color: col !important

