
// Chat user avatar
.yt-live-chat-text-message-renderer-0 #author-photo.yt-live-chat-text-message-renderer
  display: none !important

// Chat user name
.yt-live-chat-text-message-renderer-0 #author-name.yt-live-chat-text-message-renderer
  &:after
    content: ' :'

.yt-live-chat-text-message-renderer-0 #menu.yt-live-chat-text-message-renderer #menu-button
  padding: 5px !important
  width: 28px !important
  height: 28px !important