@import '_chatColors.styl'

// Chat user avatar
#author-photo.yt-live-chat-text-message-renderer
  display: none !important

// Chat user name
#author-name.yt-live-chat-text-message-renderer
  &:after
    content: ' :'
    color: #fff

#menu.yt-live-chat-text-message-renderer #menu-button
  padding: 5px !important
  width: 28px !important
  height: 28px !important