@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700")

body
  font-family: 'Open Sans', Arial, sans-serif
  padding: 10px

.section
  &:nth-child(1)
    .options-heading
      margin: 0

.options-heading
  margin: 10px 0 0 0

.options-description
  margin: 0 0 10px 0
  opacity: 0.8

table
  border: none
  border-spacing: 0
  width: 100%
  tr td
    padding: 0
    &:nth-child(1)
      width: 80%
    &:nth-child(2)
      width: 20%
      text-align: right

.hr
  height: 1px
  background: #bbb
  margin: 10px 0

#save-status
  text-align: center
  opacity: 0
  transition: all 1s linear
  &.show
    opacity: 1
    transition: none

.options-table
  .option-row
    display:flex
    flex-direction: row
    align-items: space-between
    justify-content: space-between
  .option-cell
    padding-right: 5px
    &:last-child
      padding-right: 0px